@tailwind base;
@tailwind components;
@tailwind utilities;


.active{
    color: #474747;
    font-size: 14px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.default{
    color: #474747;
    font-size: 14px;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
}

